{{yield}}

<div class="relative-container">
	<div class="modal-title" style={{modalTitleStyle}}>
		<span>New Password</span>
	</div>

	<div class="modal-body">
		<div class="label"><span class={{inputFieldClass}}>Enter a new password</span></div>
		{{input class=inputFieldClass type="password" value=newPassword key-up="updateNewPassword" placeholder="New password..." }}

		<ul class="password-errors">
			{{#if hasError}}
				<li class="header">Problem(s):</li>
				{{#each shownPasswordErrors as |error|}}
					<li>{{error}}</li>
				{{/each}}
			{{else}}
				<li class="animation-label">{{animationText}}</li>
				<div class={{successAnimationClass}}></div>
			{{/if}}
		</ul>

		<div class="label"><span class={{inputFieldClass}}>Re-enter your new password</span></div>
		{{input class=inputFieldClass type="password" value=verifyPassword key-up="updateVerifyPassword" placeholder="Verify password..." }}
	</div>

	{{#if showButtons}}
		<div class="modal-footer">
			<div class="modal-footer-buttons">
				<div class="modal-footer-button two first ease" {{action "goBack"}}>
					<span>{{goBackText}}</span>
				</div>
			

				<div class="modal-footer-button two last ease" {{action "submitPassword"}}>
					<span>{{continueText}}</span>
				</div>
			</div>
		</div>
	{{/if}}
</div>